<!DOCTYPE html>
<html>
<head>
    <title>Tailor-oplate</title>
    <meta name="oplate" content="initial-scale=1, maximum-scale=1">
    <style type="text/css">
        #menu{
            position:relative;            float:left;
            width:150px;
            height:100%;
        }

        #app{
            position:relative;
            float:left;
            width:1450px;
        }

        #app .topNav{
            left:155px !important;
        }
    </style>
</head>
<body>
<div id="menu">
    <ul class="nav navbar-nav" id="menusLists">
        <li class="ico crm_ico"><a class="" href="/crm" title="客户管理"></i><span>客户管理</span></a></li>
        <li class="ico user_ico"><a class="active active" href="/user" title="用户管理"></i><span>用户管理</span></a></li>
    </ul>
</div>
<div id="app"></div>
<fragment src=""></fragment>
</body>
</html>